{% extends 'base.html '%}

{% block navbar %}
{% endblock %}

{% block content %}
<form action="{{url_for('extract')}}" id="transcreve-musica" method="POST">
    <div class="container">
    <div class="jumbotron" id="texto-inicial">
      <h1 class="display-4">Insira a URL do YouTube:</h1>
      <hr class="my-4">

    <div class="col-4">

      </br>
    </br>

        <input type="text" class="form-control form-control-lg" name="musicName" id="inputsongname" placeholder="URL do Vídeo do YouTube">
      </br>
     
    </div>
    
  </br>
    <button class="btn btn-primary btn-lg" type="submit" href="/acordes" target="_blank" role="button">Transcrever</button>
  </div>
  </div>

</form>

{% endblock %}
