{% extends 'base.html '%}

{% block navbar %}
{% endblock %}

{% block content %}
<form action="{{url_for('acordes')}}" id="transcreve-musica" method="POST">
    <div class="container">
    <div class="jumbotron" id="texto-inicial">
      <h1 class="display-4">Transcrição Musical</h1>
      <hr class="my-4">

      <div class="row">
        <div class="col-sm-4">
          <a class="btn btn-info btn-lg" href="/upload" role="button">Enviar áudio</a>
          <a class="btn btn-info btn-lg" href="/video" role="button">Vídeo</a>
        </div>
    </div>

    </br>
    </br>
    </br>

    <div class="col-4">

        <select class="form-control form-control-lg" name="idiomaSelec">
          <option selected>Selecione o Idioma</option>
          <option value="portugues">Português</option>
          <option value="english">Inglês</option>
        </select>

      </br>
    </br>

    <label for="inputsongname" class="col-form-label col-form-label-lg">Digite o Nome da Música: </label>
        <input type="text" class="form-control form-control-lg" name="musicName" id="inputsongname" placeholder="Nome da Música">

    </div>

  </br>
  </br>
  </br>
    <a type="button" class="btn btn-link" href="static/audio.wav" target="_blank">Reproduzir Áudio </a>
    <button class="btn btn-primary btn-lg" type="submit" href="/acordes" target="_blank" role="button">Transcrever</button>
  </div>
  </div>

</form>

{% endblock %}
