{% extends 'base.html '%}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
<div class="jumbotron" id="texto-inicial">
    <h1 class="display-4">Vídeo</h1>
    <hr class="my-4">

    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div id="player"></div>

    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
  
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  
        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.

        linkID = link
        
        var player;
        function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '360',
            width: '640',
            videoId: '{{linkid}}',
            events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
    }
  })
}
    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        event.target.playVideo();
        console.log('currentTime:', player.getCurrentTime())
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      function onPlayerStateChange(event) {
       chordslist={{listaBinaria|tojson}}
       uniquechords={{acordesUnicos|tojson}}
       //chordslist=[ '1', '1', '0', '1', '1', '0', '1', '1', '1', '0', '1', '1', '1', '0', '1', '1', '0', '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '0', '0', '1', '1', '0', '1', '1', '1', '1', '1', '1', '0', '1', '1', '1', '0', '1', '1', '0', '1', '0', '1', '0', '1', '1', '0', '1', '1', '1', '0', '1', '1', '0', '1', '1', '1', '0', '1', '1', '0', '1', '0', '1', '0', '1', '1', '1', '1', '1', '1', '0', '1', '1', '0', '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '0', '1', '1', '0', '0', '1', '1', '1', '0', '1', '1', '0', '1', '1', '1', '0', '1', '1', '0', '0', '1']
        if(event.data==1) { // playing
            myTimer = setInterval(function(){ 
                var time;
                time = player.getCurrentTime();
                $("#timeHolder").text(time);
                console.log(time);

                j=0
                for (var i = 0; i<{{tam}}; i++)
                {
                    if (time>2*i && time<2*(i+1))
                        {
                        document.getElementById('Aesquerdo').innerHTML = uniquechords[j-1];
                        document.getElementById('Acentral').innerHTML = uniquechords[j];
                        document.getElementById('Adireito').innerHTML = uniquechords[j+1];
                        }
                    if (chordslist[i]!=0){
                        j=j+1
                    }
                }

            }, 100);


        }
        else { // not playing
            clearInterval(myTimer);
        }
      }
      
      
      </script>



<br>
<br>
<br>

    <div class="row">
        <div class="col-sm-3">
            <h1 class="h3" id="Aesquerdo"></h1>
     
        </div>
        <div class="col-sm-2">
            <h1 class="h1 text-center font-weight-bold p-3 mb-4 bg-danger text-black" id="Acentral"><storng></storng></h1>
        </div>
        <div class="col-sm-3">
            <h1 class="h3 text-right" id="Adireito"></h1>
        </div>
    </div> 


</div>


</div>

<br>
<br>
<br>
</div>


{% endblock %}
