{% extends 'base.html '%}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
<div class="jumbotron" id="texto-inicial">
    <h1 class="display-4">Vídeo</h1>
    <hr class="my-4">
    <iframe src="https://www.youtube.com/embed/AhcttcXcRYY" allowfullscreen=""  height='360' width='640' frameborder="0"></iframe>
<br>
<br>
<br>

    <div class="row">
        <div class="col-sm-3">
            <h1 class="h5">G</h1>
        </div>
        <div class="col-sm-2">
            <h1 class="h1 text-center font-weight-bold p-3 mb-4 bg-danger text-black"><storng>Em</storng></h1>
        </div>
        <div class="col-sm-3">
            <h1 class="h5 text-right">Am</h1>
        </div>
    </div>  
</div>

</div>
</div>


{% endblock %}
